*.log
.settings
rest-user-service-application/target
rest-user-service-persistence/target
rest-user-service-presentation/target
rest-user-service-service/target
rest-user-service-util/target


target/failsafe-reports/failsafe-summary.xml
